- if !ie?
  !!! XML
!!! Strict
%html
  %head
    = stylesheet_link_tag 'tenplate'
    %link{'rel' => "alternate", 'type' => "application/rss+xml", 'title' => "RSS 2.0", 'href' => "http://www.primeenergyinc.com/pages/1.rss"}

  %body
    #grid
      #header.group
        %h1#site_title Prime energy Inc.
        #address
          %h2 Prime Energy, Inc.
          %ul
            %li Phone: 630-961-0030
            %li Fax: 630-904-0436
            %li Email: info@primeenergyinc.com
        = render :partial => "shared/menu"
        = image_tag "splash.png"

      #content.golden
        .rail.group
          -if current_user
            -if current_user.has_role? "admin"
              %ul.admin
                %li=link_to "add item", {:controller => :items, :action => :new, :page_id => @page.id}, :id => "add_item"
                %li=link_to "add page", {:controller => :pages, :action => :new}, :id => "add_page"
                %li=link_to "remove this page", "/pages/destroy/#{@page.id}", :confirm => "Really delete page #{@page.name}?"
          = render :partial => "shared/cloud"
          = render :partial => "shared/adsense"
        .main.group
          = yield
      #footer.group
        #copyright &copy; 2002-2009 Prime Energy Inc.
        -if current_user
          %p= "logged in as #{current_user.login}, #{link_to 'logout', '/logout'}"
        -else
          %p= link_to "not logged in", "/login", :id => "log_in"
- # include javascript
= javascript_include_tag :all
= yield :javascript
- if !current_user
  -content_for :onReady do
    login = new JSLib.Modal('log_in',{ajaxContent: 'element',overlay: true})
- else
  -content_for :onReady do
    :plain
      new JSLib.Modal('add_page',{ajaxContent: 'element',overlay: true})
      new JSLib.Modal('add_item',{ajaxContent: 'element',overlay: true,onComplete: 'manageEditor()'})
      itemEditor = null;
      manageEditor = function(){
        if(itemEditor == null){itemEditor = new JSLib.Editor("item_content","trigger")}
      }
:javascript
  document.observe("dom:loaded",function(ev){
    #{yield :onReady}
  });
